body, html {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans CJ KR';
}

body {
  -webkit-text-size-adjust: none;
  background-color: #fff;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 300;
}

body.bg-white {
  background-color: #fff;
}

ul, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

ol {
  margin: 0;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: none;
}

input, select, textarea, fieldset, button {
  outline: none;
  margin: 0;
  padding: 0;
  width: auto;
  min-width: auto;
  border: 0;
  cursor: pointer;
  font-family: 'Noto Sans CJ KR';
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #999999;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #999999;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #999999;
}

input::placeholder, textarea::placeholder {
  color: #999999;
}

table {
  border-collapse: collapse;
}

em {
  font-style: normal;
}

textarea {
  resize: none;
}

.hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

h1, h2, h3, h4, h5, h6 {
  display: inline-block;
  margin: 0;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

label {
  font-weight: 400;
}

input {
  font-size: 0.8125rem;
  font-weight: 400;
  color: #999999;
  line-height: 1.125rem;
}

@font-face {
  font-family: 'Noto Sans CJ KR';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/NotoSansCJKkr-Thin.otf) format("opentype"), url(../fonts/NotoSansCJKkr-Thin.woff) format("woff");
}

@font-face {
  font-family: 'Noto Sans CJ KR';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/NotoSansCJKkr-Light.otf) format("opentype"), url(../fonts/NotoSansCJKkr-Light.woff) format("woff");
}

@font-face {
  font-family: 'Noto Sans CJ KR';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NotoSansCJKkr-Regular.otf) format("opentype"), url(../fonts/NotoSansCJKkr-Regular.woff) format("woff");
}

@font-face {
  font-family: 'Noto Sans CJ KR';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/NotoSansCJKkr-Medium.otf) format("opentype"), url(../fonts/NotoSansCJKkr-Medium.woff) format("woff");
}

@font-face {
  font-family: 'Noto Sans CJ KR';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NotoSansCJKkr-Bold.otf) format("opentype"), url(../fonts/NotoSansCJKkr-Bold.woff) format("woff");
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 0.9375rem;
  border-bottom: 0.0625rem solid #e0e0e0;
  width: 100%;
  height: 2.8125rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
}

.header .prefix, .header .center, .header .suffix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .suffix {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .prefix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .prefix a {
  display: inline-block;
  max-width: 5.5625rem;
}

.header .prefix a img {
  padding-top: 0.375rem;
}

.header .center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header .center h1 {
  font-size: 1.125rem;
  color: #333333;
  font-weight: 500;
}

.header .suffix {
  position: relative;
}

.header .suffix .btn {
  width: 3.125rem;
  line-height: 2rem;
}

.header .slide-nav {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ececec;
  overflow: auto;
}

.header .slide-nav .nav-top {
  background-color: #fff;
  border-bottom: 0.0625rem solid #e0e0e0;
  height: 2.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 0.9375rem;
}

.header .slide-nav .nav-content .content {
  background-color: #fff;
  padding: 0 0.9375rem;
  padding-bottom: 1.875rem;
}

.header .slide-nav .nav-content .content + .content {
  margin-top: 0.625rem;
}

.header .slide-nav .nav-content .content .content-title {
  font-size: 1rem;
  font-weight: 500;
  color: #333333;
  padding-top: 0.875rem;
  padding-bottom: 0.40625rem;
}

.header .slide-nav .nav-content .content .box-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .slide-nav .nav-content .content .box-list li {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  font-size: 1rem;
  line-height: 2.8125rem;
  color: #666666;
}

.header .slide-nav .nav-content .content .box-list li:last-child {
  margin-top: -0.0625rem;
}

.header .slide-nav .nav-content .content .box-list li a {
  display: block;
  padding-left: 1rem;
  font-weight: 400;
}

.header .slide-nav .nav-content .content .box-list li:after {
  content: '';
  background-image: url(../images/ico_right_arrow.png);
  position: absolute;
  top: 51%;
  right: 0.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 0.375rem;
  height: 0.6875rem;
}

.header .slide-nav .nav-content .content .sns-list {
  background-color: #f6f7f8;
  margin: 0 -0.9375rem;
  padding-top: 1.25rem;
  padding-bottom: 0.625rem;
}

.header .slide-nav .nav-content .content .sns-list ul {
  padding: 0 0.9375rem;
}

.header .slide-nav .nav-content .content .sns-list ul li {
  width: 25%;
}

.icon-pen {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/ico_pencil.png);
  width: 1.25rem;
  height: 1.25rem;
}

.icon-menu {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/ico_humber.png);
  width: 1.3125rem;
  height: 1rem;
}

.icon-close {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/ico_close.png);
  width: 1rem;
  height: 1rem;
}

.icon-spc {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/ico_spc.png);
  width: 3.15625rem;
  height: 3.15625rem;
}

.icon-kakao {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/ico_kakao.png);
  width: 3.15625rem;
  height: 3.15625rem;
}

.icon-instar {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/ico_Instar.png);
  width: 3.15625rem;
  height: 3.15625rem;
}

.icon-youtube {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/ico_youtube.png);
  width: 3.15625rem;
  height: 3.15625rem;
}

.icon-blog {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/ico_blog.png);
  width: 3.15625rem;
  height: 3.15625rem;
}

.icon-back {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/ico_back.png);
  width: 0.75rem;
  height: 1.375rem;
}

.icon-delete {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/change_delete.png);
  width: 0.25rem;
  height: 1.0625rem;
}

.icon-question {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/ico_question.png);
  width: 1.375rem;
  height: 1.375rem;
}

.icon-ask {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/ico_ask.png);
  width: 1.375rem;
  height: 1.375rem;
}

.icon-heart {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/ico_heaert.png);
  width: 1.0625rem;
  height: 0.9375rem;
}

.icon-heart-on {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/ico_heaert_on.png);
  width: 1.0625rem;
  height: 0.9375rem;
}

.icon-accordion-arrow {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/accordion-arrow.png);
  width: 1.125rem;
  height: 0.625rem;
}

.icon-notice {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/icon-notice.png);
  width: 1.125rem;
  height: 1.125rem;
  margin-right: 0.3125rem;
}

.icon-news {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/icon-news.png);
  width: 0.9375rem;
  height: 1.125rem;
  margin-right: 0.3125rem;
}

.icon-trend {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/icon-trend.png);
  width: 1.125rem;
  height: 1.125rem;
  margin-right: 0.3125rem;
}

.icon-job {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/icon-job.png);
  width: 1.125rem;
  height: 1.09375rem;
  margin-right: 0.3125rem;
}

.icon-gallery {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/icon-gallery.png);
  width: 1.125rem;
  height: 1.125rem;
  margin-right: 0.3125rem;
}

.icon-benefit {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/icon-benefit.png);
  width: 1.125rem;
  height: 1.125rem;
  margin-right: 0.3125rem;
}

.icon-faq {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/icon-faq.png);
  width: 1.125rem;
  height: 1.125rem;
  margin-right: 0.3125rem;
}

.icon-faq-02 {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/icon-faq-02.png);
  width: 0.9375rem;
  height: 1.125rem;
  margin-right: 0.3125rem;
}

.icon-research {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/icon-research.png);
  width: 1.125rem;
  height: 1.125rem;
  margin-right: 0.3125rem;
}

.icon-map {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/icon-map.png);
  width: 0.9375rem;
  height: 1.125rem;
  margin-right: 0.3125rem;
}

.icon-privacy {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/icon-privacy.png);
  width: 0.9375rem;
  height: 1.125rem;
  margin-right: 0.3125rem;
}

.icon-service {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/icon-service.png);
  width: 1rem;
  height: 1.125rem;
  margin-right: 0.3125rem;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1.625rem;
  height: 1.625rem;
}

.icon.icon-search {
  background-image: url("../images/icon-search.png");
}

.icon.icon-info {
  background-image: url("../images/icon-info.png");
}

.icon.icon-comu {
  background-image: url("../images/icon-total-comu.png");
}

.icon.icon-my {
  background-image: url("../images/icon-my.png");
}

.ico-search {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/ico_search.png);
  width: 1.03125rem;
  height: 1rem;
}

.ico-close {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/icon_close.png);
  width: 0.6875rem;
  height: 0.6875rem;
}

.icon-search-close {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/icon-search-close.png);
  width: 0.5625rem;
  height: 0.5625rem;
}

.icon-plus {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/plus.png);
  width: 0.5rem;
  height: 0.5rem;
}

.icon-list {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 2.5rem;
  height: 2.5rem;
}

.icon-list.icon-list01 {
  background-image: url("../images/ico_list_01.png");
}

.icon-list.icon-list02 {
  background-image: url("../images/ico_list_02.png");
}

.icon-list.icon-list03 {
  background-image: url("../images/ico_list_03.png");
}

.icon-list.icon-list04 {
  background-image: url("../images/ico_list_04.png");
}

.icon-list.icon-list05 {
  background-image: url("../images/ico_list_05.png");
}

.icon-list.icon-list06 {
  background-image: url("../images/ico_list_06.png");
}

.icon-list.icon-list07 {
  background-image: url("../images/ico_list_07.png");
}

.icon-list.icon-list08 {
  background-image: url("../images/ico_list_08.png");
}

.icon-list.icon-list09 {
  background-image: url("../images/ico_list_09.png");
}

.icon-arrow-up {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/ico_up_arrow.png");
  width: 1.5rem;
  height: 1.5rem;
}

.ico-arrow {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/ico_more.png);
  width: 0.4375rem;
  height: 0.6875rem;
}

.tag {
  display: inline-block;
  font-size: 0.75rem;
  color: #fff;
  font-weight: 400;
  line-height: 0.8125rem;
  letter-spacing: -0.6pt;
  border-radius: 0.625rem;
  font-style: normal;
  padding: 0.25rem 0.875rem;
}

.tag.border-tag {
  border: 0.0625rem solid #37aad7;
  background-color: #fff;
  color: #37aad7;
}

.tag.primary-tag {
  background-color: #37aad7;
}

.tag.green-tag {
  background-color: #a0d00e;
}

.tag.black-tag {
  background-color: #333333;
}

.tag.pink-tag {
  background-color: #f77aaf;
}

.tag.blue-tag {
  background-color: #a38afa;
}

.tag.white-tag {
  padding: 0.28125rem 1.46875rem;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1.125rem;
  background-color: #fff;
  letter-spacing: 1.0pt;
  color: #37aad7;
  border-radius: 1.25rem;
}

.tag.login-tag {
  padding: 0.21875rem 1.5625rem;
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 1.125rem;
  background-color: #37aad7;
  letter-spacing: 1.0pt;
  color: #fff;
  border-radius: 1.25rem;
}

.flex-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box-list li {
  border: 0.0625rem solid #e0e0e0;
}

.community-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -0.5625rem;
}

.community-list li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
  padding: 0 0.5625rem;
}

.community-list li:nth-child(1) {
  margin-bottom: 0.9375rem;
}

.community-list li:nth-child(2) {
  margin-bottom: 0.9375rem;
}

.community-list li:nth-child(3) {
  margin-bottom: 0.9375rem;
}

.community-list li .img-banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 6.875rem;
  border: 0.0625rem solid #e0e0e0;
  border-radius: 0.375rem;
}

.community-list li .img-banner img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0.75rem;
}

.community-list li p {
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  color: #666666;
  margin-top: 0.625rem;
}

.table-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.table-list li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  border-top: 0.0625rem solid #e0e0e0;
  font-size: 0.875rem;
}

.table-list li:nth-child(5) {
  border-bottom: 0.0625rem solid #e0e0e0;
}

.table-list li:nth-child(even), .table-list li:last-child {
  border-right: 0;
}

.table-list li:last-child {
  border-bottom: 0.0625rem solid #e0e0e0;
}

.table-list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.625rem 0;
  color: #666666;
  font-weight: 400;
}

.table-list li a.bold {
  font-weight: 500;
}

.table-list li a i {
  margin-right: 0.625rem;
}

.sns-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sns-list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.sns-list ul li div {
  font-size: 0.75rem;
  color: #666666;
  font-weight: 400;
  padding-top: 0.3125rem;
}

.content-list.none-border-top {
  border-top: none;
}

.content-list ul li {
  background-color: #fff;
  margin-bottom: 0.3125rem;
  border-bottom: 0.4375rem solid #e0e0e0;
}

.content-list ul li:first-child {
  border-top: 0.0625rem solid #e0e0e0;
}

.content-list ul li:first-child:last-child {
  border-bottom: 0.3125rem solid #e0e0e0;
}

.content-list ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.3125rem 0.9375rem 1.25rem 0.9375rem;
}

.content-list ul li a .prefix, .content-list ul li a .suffix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.content-list ul li a .suffix {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.content-list ul li a .prefix {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15%;
          flex: 1 1 15%;
}

.content-list ul li a .prefix .img-banner {
  position: relative;
  margin-right: 0.9375rem;
  width: 8.9375rem;
  height: 6.125rem;
  overflow: hidden;
  border-radius: 0.375rem;
}

.content-list ul li a .prefix .img-banner img {
  border-radius: 0.375rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.content-list ul li a .suffix {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.content-list ul li a .suffix .title {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #666666;
  display: -webkit-box;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  font-weight: 400;
}

.content-list ul li a .suffix .content-info {
  margin-top: 0.8125rem;
}

.content-list ul li a .user-id {
  font-size: 0.6875rem;
  line-height: 0.8125rem;
  color: #37aad7;
  padding-bottom: 0.28125rem;
}

.content-list ul li a .tag {
  font-style: normal;
  margin-bottom: 0.5625rem;
}

.column-type > ul > li {
  padding: 1.25rem 0.9375rem;
  border-bottom: 0.4375rem solid #e0e0e0;
}

.column-type > ul > li:last-child {
  border-bottom: none;
}

.column-type ul li .title {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #666666;
  font-weight: 400;
  padding-top: 0.78125rem;
  padding-bottom: 0.78125rem;
}

.column-type ul li .survey-info {
  padding: 0.9375rem 0.9375rem;
  background-color: #f7f7f7;
}

.column-type ul li .survey-info .dot-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
  border: 0;
  margin: 0;
}

.column-type ul li .survey-info .dot-list li .left,
.column-type ul li .survey-info .dot-list li .right {
  font-size: 0.75rem;
  line-height: 1.5rem;
  font-weight: 400;
  margin-right: 0.625rem;
}

.column-type ul li .survey-info .dot-list li .left {
  color: #999999;
}

.column-type ul li .survey-info .dot-list li .right {
  color: #666666;
}

.column-type .btn {
  margin-top: 0.75rem;
}

.content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.content-info .prefix, .content-info .suffix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.content-info .suffix {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.content-info .prefix {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-info .prefix .faq-date {
  font-size: 0.6875rem;
  font-weight: 400;
  color: #999999;
  line-height: 1.125rem;
}

.content-info .prefix .date {
  font-size: 0.6875rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #999999;
}

.content-info .prefix ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-info .prefix ul li {
  position: relative;
  font-size: 0.6875rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #999999;
  border: 0;
  margin: 0;
  padding-right: 1.09375rem;
}

.content-info .prefix ul li:after {
  content: '';
  position: absolute;
  top: 0.375rem;
  right: 0.5rem;
  width: 0.125rem;
  height: 0.375rem;
  background-color: #ececec;
}

.content-info .prefix ul li:last-child {
  padding: 0;
}

.content-info .prefix ul li:last-child:after {
  display: none;
}

.content-info .suffix {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.detail-view {
  background-color: #fff;
}

.detail-view .detail-title {
  padding: 0.9375rem 1.25rem;
  border-bottom: 0.0625rem solid #e0e0e0;
}

.detail-view .detail-title div {
  font-size: 0.8125rem;
  color: #37aad7;
  font-weight: 400;
}

.detail-view .detail-title h1 {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  color: #333333;
  font-weight: 500;
}

.detail-view .detail-title .date {
  font-size: 0.6875rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #999999;
}

.detail-view .detail-title .content-info {
  margin-top: 0.40625rem;
}

.detail-view .detail-title .tag {
  margin-bottom: 0.375rem;
}

.detail-content {
  border-bottom: 0.3125rem solid #e0e0e0;
  padding: 0.9375rem 1.25rem;
  word-break: break-all;
}

.detail-content p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #666666;
  font-weight: 400;
  margin: 0;
}

.detail-content.notice-content {
  padding: 1.25rem 0.9375rem;
  border: none;
}

.notice-fixed {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding: 1.03125rem 0.9375rem;
  border-top: 0.0625rem solid #e0e0e0;
}

.notice-fixed .notice-bottom {
  position: relative;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.125rem;
  color: #a6cedd;
}

.notice-fixed .notice-bottom::after {
  content: "";
  position: absolute;
  width: 0.4375rem;
  height: 0.75rem;
  background-position: center center;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/next-btn-sky.png");
}

.comment-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.0625rem solid #e0e0e0;
  background-color: #fff;
}

.comment-title p {
  margin: 1.25rem 0.9375rem;
  font-size: 0.8125rem;
  color: #333333;
  font-weight: 500;
  display: inline-block;
  margin-right: 0.78125rem;
}

.comment-title img {
  display: none;
}

.detail-box {
  padding: 0 0.9375rem;
}

.detail-box .detail-box {
  padding: 0;
}

.detail-comment {
  border-bottom: 0.0625rem solid #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 1.25rem;
}

.change-btn {
  width: 0.25rem;
  height: 1.0625rem;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../images/change_delete.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.id {
  font-size: 0.6875rem;
  padding-bottom: 0.25rem;
  color: #666666;
  font-weight: 400;
}

.comment {
  font-size: 0.8125rem;
  color: #2c2c2c;
  font-weight: 400;
  padding-bottom: 0.25rem;
}

.comment-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.6875rem;
  line-height: 1.125rem;
  color: #999999;
  padding-bottom: 1.03125rem;
  background-color: #fff;
}

.comment-bottom .comment-date {
  margin-right: 1.0625rem;
}

.comment-bottom .nocomment {
  padding-top: 1.25rem;
  padding-left: 0.9375rem;
  font-size: 0.8125rem;
  font-weight: 400;
  color: #999999;
  line-height: 1.125rem;
}

.comment-bottom .comment-date {
  position: relative;
}

.comment-bottom .comment-date:after {
  content: "";
  position: absolute;
  width: 0.0625rem;
  height: 0.5625rem;
  background-color: #999999;
  top: 50%;
  right: -0.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.line-plus {
  border-bottom: 0.0625rem solid #e0e0e0;
}

.icon-comment-menu {
  width: 0.25rem;
  height: 1.0625rem;
  display: block;
  background-image: url(../images/change_delete.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.btn-change-status {
  width: 0.25rem;
  height: 1.0625rem;
  display: block;
  position: absolute;
  top: 1.03125rem;
  right: 0;
}

.status-change-button-wrap {
  display: none;
  position: absolute;
  top: 1.03125rem;
  right: 0.3125rem;
  width: 100px;
  padding: 0.15625rem 0.625rem;
  border: 0.0625rem solid #dedede;
  border-radius: 0.625rem;
  background-color: #fff;
}

.status-change-button-wrap.on {
  display: inline-block;
}

.status-change-button-wrap button {
  background-color: #fff;
  width: 100%;
  padding: 0.3125rem 0;
}

.status-change-button-wrap button:first-child {
  border-bottom: 0.0625rem solid #dedede;
}

.recomment {
  padding: 1.1875rem 1.1875rem 0 1.1875rem;
  position: relative;
  border-bottom: 0.0625rem solid #e0e0e0;
}

.recomment::before {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 0.5625rem;
  top: 1.375rem;
  left: 0;
  background-position: center;
  background-image: url("../images/recomment_ico.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.comment-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding: 0.5625rem 0.9375rem;
  border-top: 0.0625rem solid #e0e0e0;
}

.comment-wrap label {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 80%;
          flex: 1 1 80%;
}

.comment-wrap input {
  width: 100%;
  height: 2rem;
  background-color: #f7f7f7;
  border-radius: 0.3125rem;
}

.comment-wrap button {
  width: 3.125rem;
  height: 2rem;
  margin-left: 0.375rem;
  background-color: #333333;
  color: #fff;
  font-size: 0.8125rem;
  font-weight: 500;
  border-radius: 0.3125rem;
}

.text-box .detail-content {
  border-bottom: 0.0625rem solid #e0e0e0;
}

.text-box .detail-content p {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.125rem;
  color: #333333;
}

.accordion {
  width: 100%;
  cursor: pointer;
  width: 100%;
}

.paenl {
  display: none;
}

.faq-accordion .accordion,
.faq-accordion .paenl {
  position: relative;
  font-size: 0.8125rem;
  color: #666666;
  padding: 0.625rem 0;
}

.faq-accordion .accordion i,
.faq-accordion .paenl i {
  margin-right: 0.625rem;
}

.faq-accordion .accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.0625rem solid #e0e0e0;
}

.faq-accordion .paenl {
  border-bottom: 0.0625rem solid #e0e0e0;
}

.footer-accordion {
  border-top: 0.0625rem solid #bfc3c9;
}

.footer-accordion .accordion {
  position: relative;
  padding: 0.8125rem 0.9375rem;
  font-size: 0.9375rem;
  font-weight: 400;
  color: #333333;
}

.footer-accordion .accordion .icon-accordion-arrow {
  position: absolute;
  top: 1.25rem;
  right: 0.9375rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.footer-accordion .accordion.active .icon-accordion-arrow {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.footer-accordion .paenl {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.25rem 0.9375rem;
  background-color: #ced4db;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #666666;
  font-weight: 300;
}

.footer-accordion .paenl p:nth-child(1) {
  margin-bottom: 0.875rem;
}

.tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.0625rem;
  width: 100%;
  height: 3.125rem;
  margin: 0;
  list-style: none;
}

.tab-list li {
  width: 33.3333333333%;
  height: 100%;
  background-color: #f4f5f7;
  border-bottom: 0.0625rem solid #e0e0e0;
}

.tab-list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.875rem;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  color: #666666;
}

.tab-list li.active {
  background-color: #37aad7;
  border-bottom-color: #37aad7;
}

.tab-list li.active a {
  color: #ffffff;
}

.tab-list.two-dept li {
  width: 50%;
}

.tab-list.auto-type li {
  width: auto;
  line-height: 3.125rem;
}

input[type="checkbox"] {
  position: absolute;
  font-size: 0;
  width: 0;
  height: 0;
  left: 0;
  opacity: 0;
}

input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  font-size: 0.8125rem;
  line-height: 0.96875rem;
  font-weight: 500;
  color: #767676;
}

input[type="checkbox"] + label:after {
  content: '';
  background-image: url(../images/ico_checkbox.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1.1875rem;
  height: 1.1875rem;
}

input[type="checkbox"]:checked + label {
  color: #e50101;
}

input[type="checkbox"]:checked + label:after {
  background-image: url(../images/ico_checkbox_on.png);
}

.heart-check input[type="checkbox"] {
  position: absolute;
  font-size: 0;
  width: 0;
  height: 0;
  left: 0;
  opacity: 0;
}

.heart-check input[type="checkbox"] + label {
  font-size: 0.6875rem;
}

.heart-check input[type="checkbox"] + label:after {
  position: absolute;
  left: -1.1875rem;
  top: 0.125rem;
  background-image: url(../images/ico_heart.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 0.78125rem;
  height: 0.6875rem;
}

.heart-check input[type="checkbox"]:checked + label:after {
  background-image: url(../images/ico_heart_on.png);
}

select {
  font-size: 0.8125rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../images/selectbox-arrow.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 0.9375rem) center;
  background-size: 0.5625rem;
  padding: 0 0.9375rem;
  color: #999999;
  size: 10;
  background-color: #fff;
}

.floating-menu {
  position: fixed;
  bottom: 6.25rem;
  right: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.floating-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  background-color: #e8bc09;
}

.floating-menu a.up-btn {
  display: none;
  background-color: #f3f4f8;
  border: 0.0625rem solid #666666;
}

.floating-menu a + a {
  margin-bottom: 0.625rem;
}

.floating-menu.show .up-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dot-list li {
  position: relative;
  padding-left: 0.875rem;
}

.dot-list li:after {
  content: '';
  position: absolute;
  top: 0.4375rem;
  left: 0;
  background-color: #666666;
  width: 0.21875rem;
  height: 0.21875rem;
  border-radius: 50%;
}

.modal-wrap {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2000;
  color: #333333;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-wrap.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-wrap .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 1.875rem 0.9375rem 0.9375rem 0.9375rem;
  min-width: 16.25rem;
  border-radius: 0.375rem;
  text-align: center;
}

.modal-wrap .modal .modal-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #333333;
  margin-top: -0.5rem;
  margin-bottom: 0.625rem;
}

.modal-wrap .modal .modal-explain {
  font-size: 1.125rem;
  font-weight: 500;
  color: #333333;
  margin-bottom: 0.9375rem;
}

.modal-wrap .modal .modal-explain-margin {
  font-size: 1.125rem;
  font-weight: 500;
  color: #333333;
  margin-bottom: 0.3125rem;
}

.modal-wrap .modal .modal-content {
  font-size: 1rem;
  line-height: 1.4375rem;
  font-weight: 400;
  color: #999999;
  padding-bottom: 1.625rem;
}

.modal-wrap .modal .modal-content.font-small {
  font-size: 0.8125rem;
}

.modal-wrap .modal .modal-content .reset-info {
  color: #333333;
  font-weight: 400;
}

.modal-wrap .modal .modal-content-bottom {
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 1rem;
  color: #999999;
  margin-top: 0.9375rem;
}

.modal-wrap .modal .modal-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-wrap .modal .modal-login .login-btn {
  background-color: #37aad7;
  color: #fff;
  font-size: 0.8125rem;
  line-height: 2.875rem;
  font-weight: 500;
  margin-right: 0.375rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
}

.modal-wrap .modal .modal-login .login-close-btn {
  background-color: #fff;
  color: #37aad7;
  font-size: 0.8125rem;
  line-height: 2.875rem;
  font-weight: 500;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  border: 0.0625rem solid #37aad7;
}

.modal-wrap .modal.none-title-type .modal-content {
  font-size: 0.8125rem;
  margin-top: -0.3125rem;
}

.modal-wrap .modal .btn-wrap.flex-half-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-wrap .modal .btn-wrap.flex-half-type .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
  line-height: 2.8125rem;
}

.modal-wrap .modal .btn-wrap.flex-half-type .btn + .btn {
  margin-left: 0.625rem;
}

.modal-wrap.sns-modal .modal {
  padding: 0;
  width: calc(100% - 1.875rem);
}

.modal-wrap.sns-modal .modal .btn {
  margin-top: -0.3125rem;
  border-radius: 0 0 0.375rem 0.375rem;
  font-weight: 500;
}

.modal-wrap.sns-modal .modal .close-btn {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 16.6875rem;
  border-bottom: 0.0625rem solid #fff;
  color: #fff;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}

.modal-wrap.sns-modal .modal .modal-content {
  padding: 0;
}

.modal-wrap.sns-modal .modal .modal-content img {
  width: 100%;
}

.modal-wrap.crud-modal .modal {
  width: 100%;
  -webkit-transform: none;
          transform: none;
  top: unset;
  left: 0;
  bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0;
}

.modal-wrap.crud-modal .modal ul li:nth-child(2) button {
  border-top: 0.0625rem solid #e1e1e1;
  border-bottom: 0.0625rem solid #e1e1e1;
}

.modal-wrap.crud-modal .modal button {
  background-color: transparent;
  width: 100%;
  line-height: 2.9375rem;
  font-size: 0.8125rem;
  text-align: center;
  color: #3399cc;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 2.8125rem;
  padding: 0 0.46875rem;
  border-radius: 0.1875rem;
  font-size: 0.8125rem;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn.btn-primary {
  background-color: #37aad7;
  color: #fff;
}

.btn.btn-primary-outline {
  line-height: 2rem;
  border: 0.0625rem solid #37aad7;
  background-color: #fff;
  color: #37aad7;
}

.btn.btn-block {
  width: 100%;
}

.btn.btn-disable {
  background-color: #cdcdcd;
  color: #fff;
}

.btn.btn-insert {
  background-color: #333333;
  color: #fff;
  font-weight: 500;
  border-radius: 0.3125rem;
}

nav.foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5.28125rem;
  padding: 0.90625rem 0 0;
  z-index: 11;
}

nav.foot .foot-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
  border-top: 0.0625rem solid #e0e0e0;
  padding: 0 0.46875rem;
  background-color: #ffffff;
}

nav.foot .foot-nav .btn-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -0.90625rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 4.3125rem;
  height: 4.3125rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/btn-home.png");
}

nav.foot .foot-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

nav.foot .foot-nav ul:nth-of-type(1) {
  padding-right: 1.875rem;
}

nav.foot .foot-nav ul:nth-of-type(2) {
  padding-left: 1.5625rem;
}

nav.foot .foot-nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

nav.foot .foot-nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.5625rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.75rem;
  padding: 0.5625rem 0.46875rem;
}

nav.foot .foot-nav ul li a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0.625rem;
}

nav.foot .foot-nav ul li:nth-child(n+3) {
  background-color: aqua;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

nav.foot .foot-nav ul li.on a {
  color: #37aad7;
}

nav.foot .foot-nav ul li.on a .icon-search {
  background-image: url("../images/icon-search-on.png");
}

nav.foot .foot-nav ul li.on a .icon-tot-comu {
  background-image: url("../images/icon-info-on.png");
}

nav.foot .foot-nav ul li.on a .icon-comu {
  background-image: url("../images/icon-total-comu-on.png");
}

nav.foot .foot-nav ul li.on a .icon-my {
  background-image: url("../images/icon-my-on.png");
}

header {
  min-height: 2.8125rem;
}

.tab-list + .modify-member-form {
  min-height: calc(100vh - 3.28125rem - 5.28125rem + 0.625rem - 0.1875rem + 0.90625rem - 3.125rem);
}

.member-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.25rem 0 1.40625rem;
  margin: 0.625rem 0 4.375rem;
  min-height: calc(100% - 5rem);
  overflow-y: auto;
  background-color: #ffffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.member-form.signin-up {
  margin-bottom: 0;
  min-height: calc(100vh - 9.75rem);
}

.member-form.forget {
  margin-bottom: 0;
  min-height: calc(100vh - 9.75rem);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.member-form.forget .btn.btn-member {
  margin-top: calc( (2.8125rem - 0.125rem) * 3);
}

.member-form.modal-modify {
  margin: 0;
  padding-bottom: 0.625rem;
}

.member-form.modal-modify .modal-form .form-group {
  padding: 0;
}

.member-form.modal-modify .modal-form .form-group .form-wrap label {
  text-align: left;
  min-width: 34%;
  padding-right: 0;
}

.member-form.modal-modify .modal-form .form-group .form-wrap input {
  max-width: 66%;
  padding: 0;
}

.member-form .signin-desc {
  padding: 3.125rem 0.9375rem 2.34375rem;
}

.member-form .signin-desc .signin-title {
  color: #000;
  width: 100%;
  font-size: 1.625rem;
  font-weight: 500;
}

.member-form .signin-desc .signin-subtitle {
  color: #000;
  font-size: 0.875rem;
  display: block;
  padding-top: 0.625rem;
  padding-right: 1.875rem;
}

.member-form .signup-button-group {
  padding: 0.625rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.member-form .signup-button-group li {
  position: relative;
}

.member-form .signup-button-group li:first-child:after {
  content: "";
  position: absolute;
  width: 0.0625rem;
  height: 0.625rem;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #babbbc;
}

.member-form .signup-button-group li a {
  display: inline-block;
  padding: 0.625rem 0.9375rem;
  color: rgba(51, 51, 51, 0.5);
  font-size: 0.8125rem;
}

.member-form .secession-title {
  padding: 0 0.9375rem;
  height: 3.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8125rem;
  margin: 0 0.9375rem;
  border-bottom: 0.0625rem solid #e0e0e0;
  font-weight: 400;
}

.member-form .secession-content {
  padding: 0 0.9375rem 1.5625rem 2.5rem;
  font-size: 0.8125rem;
}

.member-form .secession-content > li {
  padding: 0.625rem 0;
}

.member-form .secession-content li {
  color: #999999;
}

.member-form .secession-content ul {
  padding-left: 0.3125rem;
  list-style: disc;
}

.member-form .form-desc {
  color: #999999;
  font-size: 0.6875rem;
  line-height: 1.5;
  padding: 0.625rem 0.9375rem 0.625rem 1.5625rem;
  width: 100%;
  display: block;
}

.member-form .form-desc + .form-group {
  margin-top: 0 !important;
}

.member-form .error {
  position: relative;
  display: block;
  margin: 0 1.25rem;
  color: #e03c00;
  padding-left: 0.9375rem;
  padding-bottom: 0.46875rem;
  font-size: 0.6875rem;
  line-height: 2;
  font-weight: 400;
}

.member-form .error::before {
  content: "";
  position: absolute;
  width: 0.625rem;
  height: 0.625rem;
  background-position: center center;
  left: 0;
  top: 0.375rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/icon-error.png");
}

.member-form .error.modal-error {
  padding-left: 0;
  padding-bottom: 0;
  margin-top: 0.3125rem;
  margin-left: 0;
  margin-right: 0;
  padding-left: 2.1875rem;
  text-align: left;
}

.member-form .error.modal-error::before {
  content: "";
  position: absolute;
  width: 0.625rem;
  height: 0.625rem;
  background-position: center center;
  left: 1.25rem;
  top: 0.375rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/icon-error.png");
}

.member-form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #ffffff;
  padding: 0 0.9375rem;
}

.member-form .form-group .form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-top: 0.0625rem solid #e0e0e0;
  border-left: 0.0625rem solid #e0e0e0;
  border-right: 0.0625rem solid #e0e0e0;
  width: 100%;
}

.member-form .form-group .form-wrap.background-color-gray {
  background-color: #f0f0f0;
}

.member-form .form-group .form-wrap.background-color-gray input {
  background-color: #f0f0f0;
}

.member-form .form-group .form-wrap:last-child {
  padding-top: 0 0.9375rem;
  border-bottom: 0.0625rem solid #e0e0e0;
}

.member-form .form-group .form-wrap label {
  min-width: 7.6875rem;
  padding: 0 0.8125rem;
  font-size: 0.8125rem;
  font-weight: 500;
}

.member-form .form-group .form-wrap label .required {
  color: #e03c00;
}

.member-form .form-group .form-wrap .after-plus {
  position: relative;
  min-width: 7.6875rem;
  padding: 0 0.9375rem;
  font-size: 0.8125rem;
}

.member-form .form-group .form-wrap .after-plus::after {
  content: "*";
  color: #e50101;
  position: absolute;
  top: 0;
  left: 6.75rem;
}

.member-form .form-group .form-wrap a {
  margin-top: 0.46875rem;
  margin-bottom: 0.46875rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.member-form .form-group .form-wrap select {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: calc(2.8125rem - 0.125rem);
  font-weight: 400;
}

.member-form .form-group .form-wrap input[type="text"], .member-form .form-group .form-wrap input[type="password"], .member-form .form-group .form-wrap input[type="number"] {
  max-width: calc(100% - 7.6875rem);
  height: calc(2.8125rem - 0.125rem);
  font-size: 0.8125rem;
  padding: 0 0.9375rem;
}

.member-form .form-group .form-wrap .individual {
  width: 100%;
  color: #767676;
}

.member-form .form-group .form-wrap .error {
  margin: 0 0.9375rem;
}

.member-form .form-group .form-wrap .form-desc {
  padding: 0rem 0.9375rem 0.625rem 0.9375rem;
}

.member-form .form-group .form-wrap.auto-type {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.member-form .form-group .form-wrap.auto-type label {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: auto;
  max-width: unset;
}

.member-form .form-group .form-wrap.auto-type label,
.member-form .form-group .form-wrap.auto-type input[type="text"] {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: auto;
  max-width: unset;
}

.member-form .form-group .form-wrap.auto-type .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: auto;
  max-width: unset;
}

.member-form .form-group .form-wrap.auto-type .btn {
  line-height: 2rem;
  margin-right: 0.9375rem;
}

.member-form .form-group:not(:first-child) {
  margin-top: 0.625rem;
}

.member-form .form-group .auto-type input[type="text"] {
  max-width: calc(100% - 7.6875rem - 1.71875rem);
}

.member-form .lecture-add {
  overflow: hidden;
}

.member-form .lecture-add .form-group {
  margin-top: 0.625rem;
}

.member-form .btn-member {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 1.5625rem 0.9375rem 0;
  width: calc(100% - 1.875rem);
  font-weight: 500;
}

.member-form .form-text {
  padding: 0.625rem 1.875rem 0rem 1.5rem;
}

.member-form .form-text p {
  font-size: 0.6875rem;
  font-weight: 400;
  color: #999999;
  line-height: 1.125rem;
}

.member-form .form-group-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 3.0625rem;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  font-size: 0.6875rem;
  margin: 0.9375rem;
  border-bottom: 0.0625rem solid #e0e0e0;
  font-weight: 400;
}

label.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

label.checkbox a {
  position: absolute;
  right: 0.78125rem;
}

label.checkbox input[type="checkbox"] {
  display: none;
}

label.checkbox input[type="checkbox"]:checked + .box {
  background-image: url("../images/checkbox-checked.png");
}

label.checkbox .box {
  display: block;
  width: 1.1875rem;
  height: 1.1875rem;
  font-weight: 400;
  color: #333333;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/checkbox.png");
}

label.checkbox .text {
  padding-left: 0.46875rem;
  line-height: 2.8125rem;
  font-weight: 400;
}

label.checkbox.agree .text {
  line-height: 2.1875rem;
}

.section {
  margin-top: 2.8125rem;
  margin-bottom: 4.375rem;
  min-height: calc(100vh - 7.1875rem);
}

.section.faq-section {
  background-color: #fff;
}

.section.faq-section.none-margin-bottom {
  margin-bottom: 0;
}

.section.bg-color-gray {
  background-color: #f7f6f0;
}

.section.none-margin {
  margin: 0;
}

.section.none-margin-bottom {
  margin-bottom: 0;
}

.section.height-modify {
  min-height: auto;
}

.section.member-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: calc(100vh - 3.125rem + 0.1875rem);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0;
}

.section.member-sign .footer {
  height: 6.625rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.section.forget-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: calc(100vh - 3.125rem + 0.1875rem);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0;
}

.section.forget-section .footer {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.section .footer {
  background-color: #fff;
  width: 100%;
}

.section .footer .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0.9375rem;
  border-top: 0.0625rem solid #f7f7f7;
}

.section .footer .footer-nav li {
  padding: 0 0.9375rem;
  position: relative;
}

.section .footer .footer-nav li:first-child {
  padding-left: 0;
}

.section .footer .footer-nav li:last-child {
  padding-right: 0;
}

.section .footer .footer-nav li:nth-child(2) a {
  color: #333333;
  font-weight: 400;
}

.section .footer .footer-nav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(51, 51, 51, 0.5);
  font-size: 0.8125rem;
  height: 2.9375rem;
}

.section .footer .footer-nav li:not(:last-child):after {
  content: "";
  width: 0.0625rem;
  height: 0.625rem;
  position: absolute;
  background-color: #dadbdc;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section .footer .copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 3.6875rem;
  color: rgba(102, 102, 102, 0.6);
  font-size: 0.6875rem;
  border-top: 0.0625rem solid #f7f7f7;
}

.section.min-height {
  height: calc(100vh - 2.8125rem);
}

.e-class ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 1.25rem 0.46875rem;
  background-color: #fff;
}

.e-class li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0 0.46875rem;
}

.e-class li .item-img {
  overflow: hidden;
  position: relative;
  width: 100%;
  border-radius: 0.625rem;
}

.e-class li .item-img::before {
  content: "";
  display: block;
  padding-top: 75.15%;
}

.e-class li .item-img img {
  position: absolute;
  top: 0;
  left: 0;
}

.e-class p {
  font-size: 0.8125rem;
  font-weight: 400;
  padding: 0.46875rem 0 1.25rem;
  color: #666666;
}

.error-page {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #fff;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.error-page .error {
  text-align: center;
  padding: 0 0.9375rem;
}

.error-page .error .img-banner {
  width: 4.6875rem;
  margin: auto;
}

.error-page .error .error-type {
  color: #3db7e4;
  font-weight: 700;
  font-size: 1rem;
  line-height: 2.625rem;
  margin-top: -0.75rem;
}

.error-page .error .error-title {
  font-size: 0.9375rem;
  line-height: 2.625rem;
  font-weight: 500;
  color: #333333;
  margin-top: -0.1875rem;
}

.error-page .error .try {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: #999999;
  font-weight: 400;
}

.error-page .error .btn {
  position: absolute;
  width: calc(100% - 1.875rem);
  left: 0.9375rem;
  bottom: 3.625rem;
}

.swiper .swiper-paging {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
}

.swiper .swiper-paging .swiper-pagination-bullet {
  display: inline-block;
  margin-right: 0.5rem;
}

.swiper .swiper-paging .swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.swiper.main-slide .swiper-paging {
  bottom: 1rem;
}

.swiper.main-slide .swiper-paging .swiper-pagination-bullet {
  width: 0.875rem;
  height: 0.875rem;
  background-color: #a0a0a0;
  border-radius: 50%;
}

.swiper.main-slide .swiper-paging .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #e8bc09;
}

.swiper.add-slide {
  padding-bottom: 1.875rem;
}
.swiper.add-slide .swiper-paging {
  bottom: 1rem;
}
.swiper.add-slide .swiper-paging .swiper-pagination-bullet {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #e6e6e6;
  border-radius: 50%;
}
.swiper.add-slide .swiper-paging .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #b2b2b2;
}
.swiper.ad-slide {
  padding-bottom: 1.875rem;
}
.swiper.ad-slide .swiper-paging {
  bottom: 1rem;
}
.swiper.ad-slide .swiper-paging .swiper-pagination-bullet {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #e6e6e6;
  border-radius: 50%;
}
.swiper.ad-slide .swiper-paging .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #b2b2b2;
}
nav.scroll-nav {
  position: relative;
  z-index: 2;
  height: 3.125rem;
  scroll-behavior: smooth;
  position: fixed;
  width: 100%;
  background-color: #f4f5f7;
}

nav.scroll-nav ::-webkit-scrollbar {
  display: none;
}

nav.scroll-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-left: 0;
  height: 100%;
  margin-block: 0;
  overflow-x: auto;
  list-style: none;
  text-align: center;
  white-space: nowrap;
}

nav.scroll-nav ul li a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.9375rem;
}

nav.scroll-nav ul li.active {
  background-color: #37aad7;
  color: #fff;
}

nav.scroll-nav + .section {
  padding-top: 3.125rem;
}

.gallery-list-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -0.46875rem;
  padding: 1.25rem 0.9375rem;
}

.gallery-list-wrap .item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0 0.46875rem;
}

.gallery-list-wrap .item .item-img {
  border-radius: 0.625rem;
  overflow: hidden;
}

.attach-box {
  margin-top: 1.25rem;
}

.attach-box p {
  font-size: 0.8125rem;
  font-weight: 500;
  color: #333333;
  padding-bottom: 1.09375rem;
}

.attach-list li {
  border: 0.0625rem solid #f2f2f2;
  border-radius: 0.3125rem;
  padding: 0.375rem 0.9375rem;
  margin-bottom: 0.375rem;
}

.attach-list li a {
  position: relative;
  display: block;
  line-height: 1.125rem;
  font-size: 0.8125rem;
  font-weight: 400;
  color: #999999;
  padding: 0.40625rem 0 0.40625rem 1.75rem;
}

.attach-list li a:before {
  content: "";
  position: absolute;
  width: 1.125rem;
  height: 1.125rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background-position: center;
  background-image: url("../images/attach.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.map {
  margin-top: 0.625rem;
}

.map-box {
  background-color: #fff;
  padding-bottom: 1.875rem;
}

.map-box .address {
  padding: 1.375rem 0.9375rem 0.9375rem 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map-box .address .logo {
  width: 2.25rem;
  height: 2.25rem;
  margin-right: 0.25rem;
}

.map-box .address .address-text p {
  font-size: 0.8125rem;
  font-weight: 400;
  color: #333333;
}

.map-box .address .address-text span {
  font-size: 0.6875rem;
  font-weight: 400;
  color: #999999;
  margin-bottom: 0.9375rem;
}

.map-box .map-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0.9375rem;
}

.map-box .map-button li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  text-align: center;
  border: 0.0625rem solid #37aad7;
  line-height: 2rem;
  border-radius: 0.3125rem;
}

.map-box .map-button li:first-child {
  margin-right: 0.625rem;
}

.map-box .map-button li a {
  font-size: 0.8125rem;
  color: #37aad7;
  font-weight: 400;
}

.map-box .info {
  margin: 1.25rem 0.9375rem;
}

.map-box .info .box-title {
  font-size: 0.8125rem;
  font-weight: 400;
  color: #333333;
  margin-bottom: 0.75rem;
}

.map-box .info .box-info {
  border: 0.0625rem solid #e0e0e0;
  border-radius: 0.3125rem;
  padding: 1.09375rem 0.9375rem 0.8125rem 0.9375rem;
}

.map-box .info .box-info .box-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.map-box .info .box-info .box-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
  border: 0;
  margin: 0;
}

.map-box .info .box-info .box-list .left {
  font-size: 0.75rem;
  font-weight: 500;
  color: #999999;
  line-height: 1.5rem;
  margin-right: 1.53125rem;
  min-width: 2.75rem;
}

.map-box .info .box-info .box-list .right {
  font-size: 0.75rem;
  font-weight: 500;
  color: #666666;
  line-height: 1.5rem;
}

.map-box .info .box-info .box-list .right a {
  font-size: 0.75rem;
  font-weight: 500;
  color: #666666;
  line-height: 1.5rem;
}

.my-login {
  background-color: #fff;
  padding: 1.3125rem 0.9375rem 0 0.9375rem;
  height: calc(100vh - 4.375rem);
}

.my-login .login-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.0625rem solid #f7f7f7;
  border-radius: 0.3125rem;
  background-color: #f7f7f7;
  padding: 1.25rem 0.9375rem;
  margin-bottom: 2.5rem;
}

.my-login .login-box p {
  font-size: 1rem;
  font-weight: 500;
  color: #333333;
}

.my-login .login-box span {
  font-size: 0.75rem;
  font-weight: 400;
  color: #999999;
}

.my-login .login-box .login-img {
  width: 2.375rem;
  height: 2.375rem;
}

.my-login .ad-banner {
  margin-top: 0.3125rem;
}

.login-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -0.28125rem;
}

.login-list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0.28125rem;
  align-items: center;
}

.login-list ul li a {
  display: block;
  width: 100%;
  min-height: 5rem;
  border: 0.0625rem solid #e0e0e0;
  border-radius: 0.3125rem;
  padding-top: 0.65625rem;
}

.login-list ul li a p {
  font-size: 0.75rem;
  font-weight: 400;
  color: #666666;
}

.login-list ul li a p.text-red {
  color: #ed2323;
}

.benefits {
  padding: 0 0.9375rem;
}

.benefits .img-banner {
  margin: 0 -0.9375rem;
  padding-bottom: 0.625rem;
}

.benefits > ul > li {
  width: 100%;
  background-color: #fff;
  margin-bottom: 0.5625rem;
  border-radius: 0.1875rem;
  padding: 0.9375rem 0;
}

.benefits > ul > li .logo-title {
  text-align: center;
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 1.4375rem;
  color: #666666;
}

.benefits > ul > li .logo {
  width: 8.65625rem;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 0.25rem;
}

.benefits > ul > li .logo p {
  font-size: 0.6875rem;
  line-height: 1.4375rem;
  font-weight: 700;
  color: #666666;
  margin-bottom: 0.0625rem;
}

.benefits > ul > li .tag-list {
  margin-top: 0.5625rem;
}

.benefits > ul > li .tag-list.margin-top-01 {
  margin-top: 0.6875rem;
}

.benefits > ul > li .tag-list.margin-top-02 {
  margin-top: 0.75rem;
}

.benefits > ul > li .tag-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1.25rem;
}

.benefits > ul > li .tag-list ul li {
  margin-right: 0.375rem;
}

.benefits > ul > li .tag-list ul li:last-child {
  margin-right: 0;
}

.benefits > ul > li .tag-list ul li a {
  font-weight: 400;
}

.benefits .text-banner {
  text-align: center;
  color: #37aad7;
  padding-bottom: 2.1875rem;
}

.benefits .text-banner h2 {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.125rem;
  padding-top: 1.75rem;
  padding-bottom: 0.4375rem;
}

.benefits .text-banner p {
  font-size: 0.6875rem;
  line-height: 1rem;
  font-weight: 400;
  padding-bottom: 0.8125rem;
}

.section .faq .faq-title {
  position: relative;
  border-bottom: 0.0625rem solid #e0e0e0;
}

.section .faq .faq-title p {
  font-size: 0.8125rem;
  font-weight: 400;
  color: #333333;
  line-height: 1.125rem;
  padding-top: 1.25rem;
  padding-bottom: 0.96875rem;
}

.section .faq .dot-list {
  padding-top: 0.90625rem;
}

.section .faq .dot-list li {
  font-size: 0.8125rem;
  font-weight: 400;
  color: #999999;
}

.section .faq .box {
  width: 100%;
  margin: 0.9375rem 0;
  border: 1px solid #e0e0e0;
  border-radius: 0.3125rem;
  background-color: #fff;
}

.section .faq .box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.78125rem 0.9375rem;
}

.section .faq .box ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.section .faq .box ul li:after {
  content: '';
  position: absolute;
  top: 50%;
  right: -1.125rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0.53125rem;
  height: 0.9375rem;
  background-image: url("../images/arrow.png");
  background-position: center center;
  background-size: cover;
}

.section .faq .box ul li:nth-child(1) .step-list span {
  color: #333333;
}

.section .faq .box ul li:nth-child(1) .step-list .color-none {
  color: #999999;
}

.section .faq .box ul li:last-child:after {
  display: none;
}

.section .faq .box ul li .step-img {
  width: 2rem;
  margin-right: 0.46875rem;
}

.section .faq .box ul li .step-list p {
  font-size: 0.625rem;
  font-weight: 400;
  color: #999999;
  margin-bottom: -0.375rem;
  line-height: 1.0625rem;
}

.section .faq .box ul li .step-list span {
  font-size: 0.8125rem;
  font-weight: 400;
  color: #999999;
  line-height: 1.0625rem;
}

.section .faq .content-list {
  padding: 0;
}

.section .faq .content-list ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.section .faq .content-list ul li a .prefix {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 0.625rem;
}

.section .faq .content-list ul li a .suffix {
  font-size: 0.6875rem;
  font-weight: 400;
  color: #999999;
}

.section .faq .content-list ul li a .suffix .content-info {
  margin-top: 0;
}

.section .faq .content-list ul li a .suffix .content-info .prefix {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 0;
}

.section .faq .content-list ul li .btn-complete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.6875rem;
  color: #aba7a7;
  width: 3rem;
  height: 3rem;
  border: 0.0625rem solid #f7f7f7;
  border-radius: 50%;
  text-align: center;
  background-color: #f7f7f7;
  line-height: 0.8125rem;
}

.section .faq .faq-top {
  padding: 0 0.9375rem;
}

.section .faq-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding-top: 5.1875rem;
}

.section .faq-box .faq-icon {
  width: 2.8125rem;
  height: 2.1875rem;
}

.section .faq-box p {
  font-size: 0.8125rem;
  font-weight: 400;
  color: #666666;
  padding-top: 0.875rem;
  padding-bottom: 3.9375rem;
}

.section .faq-box.not-search {
  height: calc(57vh - 5.28125rem);
}

.section .faq-btn {
  padding: 2.25rem 0.9375rem 1.25rem 0.9375rem;
  background-color: #fff;
}

.form-wrap textarea {
  width: 100%;
  height: 11.25rem;
  padding: 0.9375rem;
  color: #999999;
  font-family: 'Noto Sans CJ KR';
}

.form-wrap textarea::-webkit-input-placeholder {
  font-size: 0.8125rem;
  color: #999999;
  font-weight: 400;
}

.form-wrap textarea:-ms-input-placeholder {
  font-size: 0.8125rem;
  color: #999999;
  font-weight: 400;
}

.form-wrap textarea::-ms-input-placeholder {
  font-size: 0.8125rem;
  color: #999999;
  font-weight: 400;
}

.form-wrap textarea::placeholder {
  font-size: 0.8125rem;
  color: #999999;
  font-weight: 400;
}

.community-index {
  background-color: #fff;
  padding: 0 0.9375rem;
  position: absolute;
  width: 100%;
  height: 100%;
}

.community-index .content-title {
  font-size: 1rem;
  font-weight: 500;
  padding-top: 6.5625rem;
  margin-bottom: 1.625rem;
}

.community-index .community-list li:nth-child(1) {
  margin-bottom: 1.75rem;
}

.community-index .community-list li:nth-child(2) {
  margin-bottom: 1.75rem;
}

.community-index .community-list li:nth-child(3) {
  margin-bottom: 1.75rem;
}

.community-index .community-list li a p {
  font-weight: 400;
}

.community-box .content-list.none-padding {
  padding: 0;
}

.community-box .content-list ul li {
  margin-bottom: 0;
}

.community-box .content-list ul li a .prefix .img-banner {
  position: relative;
  border: 0.0625rem solid #e0e0e0;
  border-radius: 0.3125rem;
  overflow: hidden;
  height: 6.125rem;
}

.community-box .content-list ul li a .prefix .img-banner img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.community-box .content-list ul li .suffix i {
  background-color: #fff;
  color: #37aad7;
}

.community-box .content-list ul li .suffix .title {
  color: #333333;
  font-weight: 500;
}

.community-box .detail-content.bg-color {
  background-color: #fff;
}

.community-box .detail-box {
  background-color: #fff;
}

.community-box .detail-box .comment-id {
  font-size: 0.6875rem;
  font-weight: 400;
  color: #666666;
  position: relative;
}

.community-box .detail-box .comment-id:after {
  content: "";
  position: absolute;
  width: 0.0625rem;
  height: 0.5625rem;
  background-color: #e0e0e0;
  top: 50%;
  right: -0.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.my {
  margin: -2.5rem 0;
  background-color: #fff;
  padding-bottom: 4.375rem;
}

.my .member-form.forget {
  min-height: 0;
  padding-bottom: 0.625rem;
}

.my .member-form.forget .form-wrap {
  border: none;
}

.my .member-form.forget select {
  background-color: #f7f7f7;
  border-radius: 0.3125rem;
  border: none;
  height: 2rem;
  color: #666666;
  font-size: 0.75rem;
  font-weight: 400;
}

.my .faq-accordion {
  margin: 0 0.9375rem;
}

.my .faq-accordion .number-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my .faq-accordion .number-list li span {
  margin-right: 0.1875rem;
}

.my .faq-accordion .dot-list {
  margin-left: 0.9375rem;
}

.my .faq-accordion .dot-list.none-margin {
  margin-left: 0;
}

header .suffix a {
  width: 3.125rem;
  height: 1.5rem;
}

.write .form-group {
  margin-bottom: 0.9375rem;
  border-bottom: 0.3125rem solid #e0e0e0;
}

.write .form-group .form-wrap {
  margin-bottom: 1.25rem;
  border: none;
}

.write .form-group .form-wrap:last-child {
  border: none;
}

.write .form-group .form-wrap select {
  font-size: 0.75rem;
  font-weight: 400;
  color: #666666;
  background-color: #f7f7f7;
  border-radius: 0.3125rem;
  font-size: 0.875rem;
}

.write .input-wrap {
  padding: 0 0.9375rem 0.9375rem 0.9375rem;
  border-bottom: 0.0625rem solid #e0e0e0;
}

.write .input-wrap input {
  letter-spacing: -0.0625rem;
  font-size: 0.875rem;
  font-weight: 400;
  color: #999999;
  line-height: 1.125rem;
  width: 100%;
}

.write .form-wrap textarea {
  width: 100%;
  height: calc(80vh - 9.75rem);
  padding: 0.9375rem;
  font-size: 0.875rem;
}

.write .form-wrap textarea::-webkit-input-placeholder {
  letter-spacing: -0.0625rem;
  font-size: 0.8125rem;
  color: #999999;
  line-height: 1.125rem;
  font-family: 'Noto Sans CJ KR';
}

.write .form-wrap textarea:-ms-input-placeholder {
  letter-spacing: -0.0625rem;
  font-size: 0.8125rem;
  color: #999999;
  line-height: 1.125rem;
  font-family: 'Noto Sans CJ KR';
}

.write .form-wrap textarea::-ms-input-placeholder {
  letter-spacing: -0.0625rem;
  font-size: 0.8125rem;
  color: #999999;
  line-height: 1.125rem;
  font-family: 'Noto Sans CJ KR';
}

.write .form-wrap textarea::placeholder {
  letter-spacing: -0.0625rem;
  font-size: 0.8125rem;
  color: #999999;
  line-height: 1.125rem;
  font-family: 'Noto Sans CJ KR';
}

.write .footer {
  border-top: 1px solid #e0e0e0;
  padding-top: 0.9375rem;
  padding-bottom: 2.1875rem;
  padding-left: 0.9375rem;
}

.write .footer .img-plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.write .footer .img-plus .file-name {
  padding: 0 20px;
}

.write .footer .img-plus .btn-delete {
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  border: 0;
  background-color: transparent;
  padding: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../images/icon-search-close.png");
}

.write .footer .img-plus .btn-delete input[type="file"] {
  display: none;
}

.write .footer .img-plus .img-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3.125rem;
  height: 2.4375rem;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url("../images/ico_img.png");
}

.write .footer .img-plus .img-upload input[type="file"] {
  display: none;
}
.write .footer .img-plus label {
  margin-left: 0.625rem;
  width: 1.5625rem;
}

.notice .detail-view .detail-title .tag {
  font-style: inherit;
  display: inline-block;
}

.notice .community-box ul li a .suffix span .tag {
  background-color: #fff;
  color: #37aad7;
  margin-bottom: 0;
  font-style: inherit;
}

.notice .community-box ul li a .suffix .content-info {
  margin-top: 0;
}

.notice .community-box ul li a .suffix .title {
  padding-top: 0.71875rem;
  padding-bottom: 0.59375rem;
  font-size: 0.8125rem;
  font-weight: 400;
  color: #666666;
  line-height: 1.125rem;
}

.main .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.9375rem;
  min-height: 2.8125rem;
  background-color: #fff;
}

.main .welcome .prefix {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.625rem;
  color: #333333;
}

.main .welcome .prefix.after-login {
  font-size: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .welcome .prefix .welcome-title {
  color: #37aad7;
  font-weight: 500;
}

.main .welcome .prefix .name-title {
  color: #37aad7;
  font-weight: 500;
  max-width: 3.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main .welcome .suffix {
  position: relative;
}

.main .welcome .suffix .tag {
  line-height: 1.5rem;
}

.main .welcome .suffix .tag div {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  max-width: 5.625rem;
  margin-top: -0.25rem;
}

.main .welcome .suffix .tag.login-tag[data-type="multiple"] {
  position: relative;
  padding-right: 2.8125rem;
}

.main .welcome .suffix .tag.login-tag[data-type="multiple"]:after {
  content: "";
  position: absolute;
  right: 0.9375rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-top: 0.3125rem solid #fff;
  border-left: 0.375rem solid transparent;
  border-right: 0.375rem solid transparent;
}

.main .welcome .suffix .dropdown {
  position: absolute;
  width: 100%;
  border: 0.0625rem solid #dedede;
  display: none;
  top: 100%;
  left: 0;
  z-index: 2;
  background-color: #fff;
}

.main .welcome .suffix .dropdown.on {
  display: block;
}

.main .welcome .suffix .dropdown li a {
  display: block;
  padding: 0.625rem 0.9375rem;
  font-size: 0.8125rem;
}

.main .main-slide {
  border-top: 0.3125rem solid #ececec;
  border-bottom: 0.3125rem solid #ececec;
}

.main .main-slide .swiper-slide img {
  vertical-align: top;
}

.main .section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0.9375rem 0.8125rem 0.9375rem;
}

.main .section-title .prefix, .main .section-title .suffix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main .section-title .suffix {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main .section-title .prefix {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .section-title .prefix h1 {
  font-size: 1.125rem;
  font-weight: 500;
  color: #333333;
}

.main .section-title .prefix p {
  font-size: 0.6875rem;
  line-height: 0.8125rem;
  color: #999999;
}

.main .section-title .suffix a {
  position: relative;
  font-size: 0.8125rem;
  line-height: 0.8125rem;
  font-weight: 400;
  color: #999999;
  padding-right: 0.9375rem;
}

.main .section-title .suffix a:after {
  content: '';
  width: 0.4375rem;
  height: 0.6875rem;
  background-image: url(../images/ico_more.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0.125rem;
}

.main .link-banner {
  background-color: #fff;
}

.main .link-banner.has-padding {
  padding: 0 0.9375rem;
}

.main .best-community .content-list > ul > li {
  margin-top: -0.375rem;
  border-top: 0.0625rem solid #ececec;
  border-bottom: 0.0625rem solid #ececec;
}

.main .best-community .content-list > ul > li:first-child {
  margin-top: 0;
}

.main .best-community .content-list > ul > li:last-child {
  border-bottom: 0.3125rem solid #ececec;
}

.main .best-community .content-list > ul > li.border-bottom-none {
  border-bottom: 0;
}

.main .best-community .content-list > ul > li a {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.9375rem 1.125rem 1.1875rem 0.9375rem;
}

.main .best-community .content-list > ul > li a .suffix .title {
  display: block;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.875rem;
  font-weight: 500;
  color: #333333;
  margin-top: 0.3125rem;
}

.main .best-community .content-list > ul > li .content-info ul li {
  color: #37aad7;
}

.main .job {
  padding: 1.875rem 1.125rem 1.1875rem 0.9375rem;
  border-bottom: 0.625rem solid #ececec;
}

.main .job .section-title {
  padding: 0;
  padding-bottom: 0.9375rem;
  border-bottom: 0.0625rem solid #e0e0e0;
}

.main .job .main-job .content-list {
  border-bottom: 0;
}

.main .job .main-job .content-list.none-border-top {
  border-top: 0;
}

.main .job .main-job .content-list ul li {
  background-color: #fff;
  margin-bottom: 0.3125rem;
  border-bottom: 0.0625rem solid #e0e0e0;
}

.main .job .main-job .content-list ul li a {
  padding-left: 0;
  padding-right: 0;
}

.main .job .main-job .content-list ul li:last-child {
  border-bottom: 0;
}

.main .job .main-job .content-list ul li:first-child {
  border-top: 0;
}

.main .job .main-job .content-list ul li:first-child a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .job .main-job .content-list ul li:first-child a .prefix, .main .job .main-job .content-list ul li:first-child a .suffix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main .job .main-job .content-list ul li:first-child a .suffix {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main .job .main-job .content-list ul li:first-child a .prefix {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15%;
          flex: 1 1 15%;
}

.main .job .main-job .content-list ul li:first-child a .prefix .img-banner {
  position: relative;
  margin-right: 0.9375rem;
  width: 8.9375rem;
}

.main .job .main-job .content-list ul li:first-child a .prefix .img-banner img {
  border-radius: 0.375rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main .job .main-job .content-list ul li:first-child a .suffix {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column-align: start;
      justify-self: start;
}

.main .job .main-job .content-list ul li:first-child a .suffix .title {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #666666;
  display: -webkit-box;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  font-size: 400;
}

.main .job .main-job .content-list ul li:first-child a .suffix .content-info {
  margin-top: 0.8125rem;
}

.main .job .main-job .content-list ul li:first-child a .user-id {
  font-size: 0.6875rem;
  line-height: 0.8125rem;
  color: #37aad7;
  padding-bottom: 0.28125rem;
}

.main .job .main-job .content-list ul li:first-child a .tag {
  font-style: normal;
  margin-bottom: 0.5625rem;
}

.main .add-banner img {
  border-top: 0.625rem solid #ececec;
  border-bottom: 0.625rem solid #ececec;
}

.main .industry {
  padding: 1.875rem 1.125rem 1.1875rem 0.9375rem;
}

.main .industry .section-title {
  padding: 0;
  padding-bottom: 0.9375rem;
  border-bottom: 0.0625rem solid #e0e0e0;
}

.main .industry .content-list {
  padding-top: 0;
}

.main .industry .content-list ul li {
  border-bottom: 0.0625rem solid #e0e0e0;
  padding-bottom: 1.25rem;
}

.main .industry .content-list ul li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.main .industry .content-list ul li:first-child {
  border-top: 0;
}

.main .industry .content-list ul li a {
  margin-top: 0.9375rem;
}

.main .industry .content-list ul li a:last-child {
  border-bottom: 0;
  padding: 0;
}

.main .industry .content-list ul li:nth-child(1) a {
  padding: 0;
}

.main .notice {
  padding-top: 0.9375rem;
  padding-bottom: 1.875rem;
  border-bottom: 0.625rem solid #ececec;
}

.main .notice .notice-list {
  padding: 0 0.9375rem;
}

.main .notice .notice-list ul li {
  border-top: 0.0625rem solid #e0e0e0;
}

.main .notice .notice-list ul li:last-child {
  border-bottom: 0.0625rem solid #e0e0e0;
}

.main .notice .notice-list ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .notice .notice-list ul li a .prefix, .main .notice .notice-list ul li a .suffix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main .notice .notice-list ul li a .suffix {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main .notice .notice-list ul li a .prefix {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.main .notice .notice-list ul li a .prefix .title {
  display: block;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.875rem;
  line-height: 2.875rem;
  color: #333333;
  font-weight: 400;
}

.main .notice .notice-list ul li a .suffix {
  font-size: 0.75rem;
  line-height: 2.875rem;
  color: #999999;
  font-weight: 400;
}

.main .sns {
  padding-bottom: 1.875rem;
  margin-bottom: 0;
}

.main .sns .sns-list {
  background-color: #f6f7f8;
  padding-top: 1.25rem;
  padding-bottom: 0.625rem;
}

.main .sns .sns-list ul li {
  width: 25%;
}

.main .app-infos {
  background-color: #e2e7eb;
}

.main .app-infos .link-list {
  padding: 0.75rem 0;
}

.main .app-infos .link-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .app-infos .link-list ul li {
  position: relative;
  padding-right: 0.9375rem;
}

.main .app-infos .link-list ul li:after {
  content: '';
  width: 0.0625rem;
  height: 0.625rem;
  background-color: #333333;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0.625rem;
}

.main .app-infos .link-list ul li a {
  font-size: 0.8125rem;
  font-weight: 400;
  color: #333333;
  opacity: 0.5;
}

.main .app-infos .link-list ul li:last-child {
  padding-right: 0;
  padding-left: 0.9375rem;
}

.main .app-infos .link-list ul li:last-child:after {
  display: none;
}

.main .app-infos .link-list ul li:last-child a {
  font-weight: 500;
  opacity: 1;
}

.main .copyright {
  text-align: center;
  font-size: 0.6875rem;
  line-height: 1.125rem;
  font-weight: 300;
  color: #666666;
  padding-top: 1.25rem;
  padding-bottom: 3.4375rem;
}

.search-header {
  position: relative;
}

.search-header .prefix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.search-header .prefix input {
  width: 100%;
  padding-right: 1.25rem;
  margin-left: 0.9375rem;
}

.search-header .prefix a {
  margin-top: -0.1875rem;
}

.search-header .suffix {
  position: absolute;
  right: 0.75rem;
  top: 0.4375rem;
}

.search-page {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-page .search-box {
  text-align: center;
  padding: 0 0.9375rem;
  margin-bottom: 12.5rem;
}

.search-page .search-box .img-banner {
  width: 4.6875rem;
  margin: auto;
}

.search-page .search-box .search-title {
  font-size: 0.9375rem;
  line-height: 2.625rem;
  font-weight: 500;
  color: #333333;
  margin-top: -0.1875rem;
}

.search-page .search-box .try {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: #999999;
  font-weight: 400;
}

.search-page .search-box .btn {
  position: absolute;
  width: calc(100% - 1.875rem);
  left: 0.9375rem;
  bottom: 3.625rem;
}

.search .search-notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 2.0625rem;
  background-color: #ececec;
  padding: 0 0.9375rem;
}

.search .search-notice p {
  font-size: 0.6875rem;
  color: #999999;
  line-height: 1.125rem;
}

.search .content-list {
  padding: 0 0.9375rem;
}

.search .content-list .search-list li {
  border-bottom: 0.0625rem solid #e0e0e0;
}

.search .content-list .search-list li:last-child {
  border-bottom: 0;
}

.search .content-list .search-list li a {
  padding-left: 0;
  padding-right: 0;
}

.search .content-list .search-list li .content-info .prefix ul li {
  border-bottom: 0;
}

.search .content-list .search-title {
  font-size: 1rem;
  font-weight: 500;
  line-height: 0.8125rem;
  color: #333333;
  padding: 1.5625rem 0 1.25rem 0;
}

.search .btn-plus {
  width: 100%;
  height: 3rem;
  background-color: #ececec;
  text-align: center;
}

.search .btn-plus .plus {
  padding-top: 0.3125rem;
}

.search .btn-plus .plus button {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #666666;
}

.search .notice .content-list {
  padding: 0 0.9375rem;
}

.search .notice .content-list .search-list li {
  border-bottom: 0.0625rem solid #e0e0e0;
}

.search .notice .content-list .search-list li:last-child {
  border-bottom: 0;
}

.search .notice .content-list .search-list li a {
  padding-left: 0;
  padding-right: 0;
}

.search .notice .content-list .search-title {
  font-size: 1rem;
  font-weight: 500;
  line-height: 0.8125rem;
  color: #333333;
  padding: 1.5625rem 0 1.25rem 0;
}

.service {
  padding: 0 0.9375rem;
  padding-bottom: 0.25rem;
}

.service h2 {
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 700;
  color: #333333;
  padding-top: 1.1875rem;
}

.service p {
  font-size: 0.6875rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #333333;
}

.service .number-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service .number-list li div {
  font-size: 0.6875rem;
  line-height: 1.125rem;
  color: #767676;
  font-weight: 400;
}

.service .number-list li span {
  display: inline-block;
  padding-right: 0.3125rem;
  font-size: 0.6875rem;
  line-height: 1.125rem;
  color: #767676;
  font-weight: 400;
}

.service .number-list.two-dept {
  padding-left: 0.9375rem;
}

.service .dot-list {
  font-size: 0.6875rem;
  line-height: 1.125rem;
  color: #333;
  font-weight: 400;
}

.service .dot-list li {
  font-weight: 400;
}

.service .box {
  border-top: 0.0625rem solid #e0e0e0;
  border-bottom: 0.0625rem solid #e0e0e0;
}

.service.privacy {
  padding-top: 0.625rem;
}

.service.privacy p + p {
  margin-top: 0.4375rem;
}

.service.privacy .number-list .column-type {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service.privacy .number-list .column-type div {
  padding-left: 0.625rem;
}

.service.privacy .number-list .column-type span, .service.privacy .number-list .column-type div {
  line-height: 1.375rem;
  font-weight: 400;
}

.service.privacy p {
  color: #333333;
}

.service.privacy .black-type {
  color: #333;
  font-size: 0.6875rem;
  line-height: 1.125rem;
  font-weight: 400;
}

.service.privacy .dot-list li {
  font-weight: 400;
}

.service.privacy .table {
  padding: 0.625rem 0;
}

.service.privacy .table table {
  table-layout: fixed;
}

.service.privacy .table table tr th {
  background-color: #e0e0e0;
  font-size: 0.75rem;
}

.service.privacy .table table tr td {
  text-align: center;
  font-size: 0.6875rem;
}

.service.privacy .table table tr th, .service.privacy .table table tr td {
  border: 1px solid #000;
  padding: 0 0.3125rem;
}

#toast {
  position: fixed;
  top: 2.6875rem;
  left: 50%;
  width: 100%;
  padding: 0.9375rem 0;
  -webkit-transform: translate(-50%, 10px);
          transform: translate(-50%, 10px);
  overflow: hidden;
  font-size: .8rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .5s, visibility .5s, -webkit-transform .5s;
  transition: opacity .5s, visibility .5s, -webkit-transform .5s;
  transition: opacity .5s, visibility .5s, transform .5s;
  transition: opacity .5s, visibility .5s, transform .5s, -webkit-transform .5s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  z-index: 10000;
}

#toast.reveal {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.precautions {
  font-size: 0.8125rem;
  color: #666;
  font-weight: 400;
  padding: 0.9375rem 0.625rem;
}
/*# sourceMappingURL=style.css.map */.main .industry .content-list ul li a .suffix .content-info .prefix ul li{  border: 0;}.main .job .content-list ul li a .suffix .content-info .prefix ul li{  border: 0;}.content-list ul li a .suffix .content-info .suffix{  flex: 0;}